:root {
  --lightblue: #ECF0F3;
  --lightblue2: #E0EAF3;
  --gray: #546072;
  --blue: #76A1CC;
  --darkblue: #1A3356;
  --yellow: #F6D365;
  --yellow-light: #FFE38B;
  --yellow-dark: #D3AE37;
  --white: #FFFFFF;
  --lightgray: #919CAC;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-fugaz: 'Fugaz One', cursive;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: var(--lightblue);
  font-family: "Montserrat";
  font-weight: 400;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1800px;
  }
}

.button {
  font-size: 18px;
  font-weight: 700;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s ease;
}

@media screen and (min-width: 768px) {
  .button {
    height: 64px;
  }
}

.button--primary {
  background: var(--darkblue);
  border: 2px solid var(--darkblue);
  color: var(--white);
}

.button--primary:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.button--primary:active {
  background: #0D1D3D;
  border-color: #0D1D3D;
}

.button--secondary {
  background: none;
  border: 2px solid var(--gray);
  color: var(--gray);
}

.button--secondary:hover {
  color: var(--white);
  background: var(--gray);
}

.button--secondary:active {
  color: var(--white);
  background: var(--darkblue);
  border-color: var(--darkblue);
}

.input {
  height: 64px;
  background: var(--lightblue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  font-size: 16px;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  padding: 0 16px;
  outline: none;
  font-family: var(--font-montserrat);
}

.input--error {
  border-color: #BA486B;
}

.input--success {
  border-color: #25891A;
}

.textarea {
  background: var(--lightblue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  font-size: 16px;
  color: var(--darkblue);
  resize: none;
  font-family: var(--font-montserrat);
  padding: 16px;
  outline: none;
  padding: 24px 16px 16px;
}

.custom-checkbox {
  width: 100%;
  display: block;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: var(--font-montserrat);
  color: var(--white);
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.custom-checkbox__icon {
  content: '';
  position: absolute;
  left: 4px;
  border: 2px solid var(--white);
  border-radius: 4px;
  width: 18px;
  height: 18px;
}

.custom-checkbox__icon:after {
  content: '';
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
  background: transparent;
  border-radius: 2px;
  position: absolute;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:checked ~ .custom-checkbox__icon:after {
  background: var(--white);
}

/* HEADER */
.header .wrapper {
  height: 107px;
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
  width: 150px;
  background: url('./images/logo.png') 0 0 no-repeat;
  display: block;
  transition: transform .4s ease;
}

.logo:hover {
  transform: scale(1.02);
}

.menu {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 18px;
  display: flex;
  margin-left: 68px;
}

.menu__item {
  padding: 0 12px;
  position: relative;
  border-radius: 8px 8px 0 0;
}

.menu__item--has-submenu:hover {
  background: var(--white);
}

.menu__item--has-submenu:hover .submenu {
  display: flex;
}

.menu__link {
  text-decoration: none;
  color: var(--gray);
  transition: color .4s ease;
  height: 64px;
  display: flex;
  align-items: center;
}

.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  background: var(--white);
  border-radius: 0 0 8px 8px;
  padding: 0 12px 20px;
}

.submenu__item:not(:first-child) {
  margin-top: 16px;
}

.submenu__link {
  text-decoration: none;
  color: var(--gray);
  transition: color .4s ease;
}

.menu__link:hover,
.submenu__link:hover {
  color: var(--blue);
}

.menu__link--active,
.menu__link:active,
.submenu__link:active {
  color: var(--darkblue);
}

.header__button {
  height: 64px;
  border-radius: 8px;
  background: var(--yellow);
  font-family: var(--font-montserrat);
  padding: 0 48px;
  display: flex;
  align-items: center;
  color: var(--darkblue);
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: background-color .4s ease;
}

.header__button:hover {
  background-color: var(--yellow-light);
}

.header__button:active {
  background-color: var(--yellow-dark);
}

.header__button span {
  height: 19px;
  width: 19px;
  background: url('./images/icon-document.png') 0 0 no-repeat;
  display: block;
  margin-left: 20px;
}

/* MAIN page */
.main {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

/* VEHICLE (Main page car) */
.vehicle__row {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .vehicle__row {
    display: flex;
    flex-direction: row;
    gap: 0 40px;
  }
}

.vehicle:not(:first-child) {
  margin-top: 56px;
}

@media screen and (min-width: 1200px) {
  .vehicle:not(:first-child) {
    margin-top: 108px;
  }
}

.vehicle__details {
  flex: 0 0 50%;
}

.vehicle__location {
  height: 56px;
  background-color: var(--white);
  background-position: right 24px top 11px;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 0 72px 0 24px;
  margin-bottom: 20px;
}

.vehicle__location--de {
  background-image: url('./images/icon-de.png');
}

.vehicle__location--en {
  background-image: url('./images/icon-en.png');
}

.vehicle__title {
  color: var(--darkblue);
  font-size: 22px;
  font-family: var(--font-fugaz);
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .vehicle__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__title {
    font-size: 56px;
    margin-bottom: 30px;
  }
}

.vehicle__description {
  color: #485260;
  font-size: 16px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .vehicle__description {
    font-size: 18px;
  }
}

.vehicle__ctas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .vehicle__ctas {
    flex-direction: row;
    gap: 40px;
  }
}

.vehicle__ctas button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .vehicle__ctas button {
    width: 340px;
  }
}

.vehicle__image {
  flex: 1 1 50%;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .vehicle__image {
    order: -1;
    margin-bottom: 16px;
  }
}

.vehicle__image img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .vehicle__image img {
    position: absolute;
    left: 0;
    max-width: none;
  }
}

.vehicle__features {
  flex: 0 0 100%;
  display: grid;
  grid-gap: 10px;
  margin-top: 44px;
}

@media screen and (min-width: 576px) {
  .vehicle__features {
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .vehicle__features {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__features {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 90px;
  }
}

.vehicle__feature {
  display: flex;
  flex-direction: column;
}

.vehicle__feature span {
  color: var(--gray);
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .vehicle__feature span {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__feature span {
    font-size: 24px;
  }
}

.vehicle__feature strong {
  font-family: var(--font-fugaz);
  font-size: 22px;
  color: var(--darkblue);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .vehicle__feature strong {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__feature strong {
    font-size: 26px;
  }
}

@media screen and (min-width: 1600px) {
  .vehicle__feature strong {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .vehicle--reverted .vehicle__details {
    padding: 0 0 0 40px;
  }
}

.vehicle--reverted .vehicle__image {
  order: -1;
}

.vehicle--reverted .vehicle__image img {
  left: auto;
  right: 0;
}

/* MAP */
.map {
  height: 600px;
  background: var(--white);
}

/* FOOTER */
.footer {
  padding-bottom: 30px;
}

.footer__details {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 0 40px;
}

@media screen and (min-width: 1400px) {
  .footer__details {
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer .logo {
  margin: 0 auto 20px;
  flex: 0 0 100%;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .footer .logo {
    margin: 0 20% 0 0;
    flex-basis: auto;
  }
}

@media screen and (min-width: 1400px) {
  .footer .logo {
    margin-right: 0;
  }
}

.footer__links {
  flex: 0 0 100%;
  padding-right: 20px;
}

@media screen and (min-width: 576px) {
  .footer__links {
    flex-basis: calc(50% - 10px);
  }

  .footer__links:first-of-type {
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .footer__links {
    flex-basis: 240px;
  }

  .footer__links:first-of-type {
    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .footer__links:first-of-type {
    margin: 0;
  }
}

@media screen and (min-width: 1700px) {
  .footer__links {
    flex-basis: 280px;
    padding-right: 40px;
  }
}

.footer__links li {
  background: url('images/icon-arrow.svg') 0 center no-repeat;
  padding: 8px 0 8px 24px;
}

.footer__links a {
  color: var(--gray);
  font-size: 16px;
  text-decoration: none;
}

.footer__links a:hover,
.footer__links a:active {
  text-decoration: underline;
}

.address,
.contacts {
  background: var(--white);
  width: 410px;
  height: 166px;
  border-radius: 16px;
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  padding: 30px 0 0 16px;
  display: flex;
  flex-direction: column;
}

.footer .address,
.footer .contacts {
  flex: 0 0 100%;
}

.footer .address {
  margin-bottom: 20px;
}

.footer .contacts {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .footer .address,
  .footer .contacts {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 32px;
  }

  .footer .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .footer .address,
  .footer .contacts {
    margin-top: 32px;
    margin-bottom: 0;
  }

  .footer .address {
    order: 1;
  }

  .footer .contacts {
    order: 2;
  }
}

@media screen and (min-width: 1400px) {
  .footer .address,
  .footer .contacts {
    flex-basis: 330px;
    padding-left: 27px;
    order: 0;
  }

  .footer .address {
    margin: 0 0 0 auto;
  }

  .footer .contacts {
    margin: 0 30px 0 20px;
  }
}

@media screen and (min-width: 1600px) {
  .footer .address,
  .footer .contacts {
    flex-basis: 410px;
  }

  .footer .contacts {
    margin: 0 50px 0 40px;
  }
}

.address > *,
.contacts > * {
  padding: 11px 0 11px 36px;
  color: var(--gray);
  font-size: 16px;
  font-family: var(--font-montserrat);
  font-style: normal;
}

.contacts > a {
  text-decoration: none;
}

.contacts > a:hover {
  text-decoration: underline;
}

.address__location {
  background: url('images/icon-location.svg') 0 center no-repeat;
}

.address__time {
  background: url('images/icon-clock.svg') 0 center no-repeat;
}

.contacts__phone {
  background: url('images/icon-call.svg') 0 center no-repeat;
}

.contacts__email {
  background: url('images/icon-email.svg') 0 center no-repeat;
}

.copyright {
  color: var(--lightgray);
  font-size: 16px;
}

/* CAR PAGE */
.vehicle-gallery {
  display: grid;
  margin: 108px 0 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.vehicle-gallery__item {
  overflow: hidden;
  height: 354px;
  border-radius: 16px;
}

.vehicle-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vehicle-details {
  display: flex;
  margin-bottom: 80px;
}

.vehicle-details__image {
  position: relative;
  flex: 1 1 auto;
  margin-right: 40px;
}

.vehicle-details__aside {
  flex: 0 0 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vehicle-details__aside > * {
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  background: var(--white);
  padding: 40px 32px;
}

.vehicle-details__aside h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.vehicle-details__aside li {
  font-size: 18px;
  color: var(--gray);
  background: url('images/icon-arrow.svg') 0 center no-repeat;
  padding: 0 0 0 24px;
}

.vehicle-details__aside li:not(:first-child) {
  margin-top: 24px;
}

.vehicle-details__tech,
.vehicle-details__price {
  flex: 0 0 calc(50% - 20px);
}

.vehicle-details__insurance {
  margin-top: 40px;
  flex: 0 0 100%;
}

.contact-us {
  margin: 0 220px 80px;
  display: flex;
}

.contact-us__main {
  position: relative;
  min-height: 380px;
  flex: 1 1 710px;
  background: var(--lightblue2);
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  padding: 40px 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us__background {
  left: -171px;
  top: -58px;
  position: absolute;
}

.contact-us__main h5 {
  color: var(--darkblue);
  font-size: 32px;
  font-family: var(--font-fugaz);
  text-align: center;
  margin-bottom: 10px;
}

.contact-us__main p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.contact-us__main button {
  width: 340px;
}

.contact-us__main button:nth-of-type(2) {
  margin-top: 20px;
}

.contact-us__aside {
  flex: 0 0 410px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-us__aside .address {
  margin: 0 0 40px;
}

.contact-us__aside .contacts {
  margin: 0;
}

.vehicle-description {
  margin: 0 150px 80px;
  background: var(--white);
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  padding: 60px 75px 75px;
}

.vehicle-description p {
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 65px;
}

.vehicle-description h4 {
  font-size: 24px;
  color: var(--darkblue);
  font-family: var(--font-fugaz);
  text-align: center;
}

/* CONTACTS PAGE */
.contacts-page {
  padding: 0 215px;
}

.contacts-page h1 {
  font-size: 36px;
  color: var(--darkblue);
  font-family: var(--font-fugaz);
  margin-bottom: 40px;
}

.contacts-page__flex {
  display: flex;
}

.contacts-page__aside {
  flex: 0 0 410px;
}

.contacts-page__aside .address,
.contacts-page__aside .contacts {
  margin: 0 0 40px;
}

.contacts-page__policy {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 18px;
}

.contacts-page__policy:hover {
  text-decoration: none;
}

.contacts-page__main {
  background: var(--white);
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  flex: 1 1 auto;
  margin-left: 80px;
  padding: 60px;
}

.contacts-page__main h2 {
  font-size: 32px;
  color: var(--darkblue);
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.contacts-page__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 40px;
}

.contacts-page__form label,
.contacts-page__form input {
  width: 100%;
}

.contacts-page__form textarea {
  grid-row: 1 / 4;
  grid-column: 2 / 2;
}

.contacts-page__form .header__button {
  width: 100%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 51, 86, 0.75);
  backdrop-filter: blur(12px);
  padding: 60px 0 0;
}

.modal__close {
  background: url('images/close.svg') 0 0 no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  margin: 0 0 60px calc(50% - 24px);
  opacity: .85;
  transition: opacity .4s ease;
  position: relative;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close:after {
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 50%;
  border-width: 2px;
  border-color: var(--white);
  border-style: solid dashed solid dashed;
  opacity: 0;
}

.modal__close:hover:after {
  opacity: 1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.modal__title {
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.modal__wrapper--certificate,
.modal__wrapper--booking {
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.modal__wrapper--certificate {
  max-width: 960px;
}

.modal__wrapper--booking {
  max-width: 1080px;
}

.booking {
  display: flex;
  justify-content: space-between;
}

.booking__aside {
  flex: 0 0 320px;
}

.booking .contacts-page__form {
  flex: 0 0 720px;
  margin: 0 0 0 40px;
}

.insurance {
  padding-top: 15px;
}

.insurance h5 {
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
}

.insurance p {
  margin-top: 8px;
  color: #ECF0F3;
  font-size: 14px;
}
