:root {
  --lightblue: #ECF0F3;
  --lightblue2: #E0EAF3;
  --gray: #546072;
  --blue: #76A1CC;
  --darkblue: #1A3356;
  --darkblue2: #416589;
  --yellow: #F6D365;
  --yellow-light: #FFE38B;
  --yellow-dark: #D3AE37;
  --white: #FFFFFF;
  --lightgray: #919CAC;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-fugaz: 'Fugaz One', cursive;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--lightblue);
  font-family: "Montserrat";
  font-weight: 400;
}

.body--block {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1800px;
  }
}

.hidden {
  display: none;
}

.stroke,
.fill {
  transition: all .4s ease;
}

.button {
  font-size: 18px;
  font-weight: 700;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .4s ease;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .button {
    height: 64px;
  }
}

.button--primary {
  background: var(--darkblue);
  border: 2px solid var(--darkblue);
  color: var(--white);
}

.button--primary:hover {
  background: var(--blue);
  border-color: var(--blue);
}

.button--primary:active {
  background: #0D1D3D;
  border-color: #0D1D3D;
}

.button--primary .stroke {
  stroke: var(--white);
}

.button--secondary {
  background: none;
  border: 2px solid var(--gray);
  color: var(--gray);
}

.button--secondary:hover {
  color: var(--white);
  background: var(--gray);
}

.button--secondary:active {
  color: var(--white);
  background: var(--darkblue);
  border-color: var(--darkblue);
}

.button--secondary .stroke {
  stroke: var(--gray);
}

.button--secondary .fill {
  fill: var(--gray);
}

.button--secondary:hover .stroke,
.button--secondary:active .stroke {
  stroke: var(--white);
}

.button--secondary:hover .fill,
.button--secondary:active .fill {
  fill: var(--white);
}

.button--primary > *,
.button--secondary > * {
  margin-left: 20px;
}

.input {
  height: 64px;
  background: var(--lightblue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  font-size: 16px;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  padding: 0 16px;
  outline: none;
  font-family: var(--font-montserrat);
}

.input--error {
  border-color: #BA486B;
}

.input--success {
  border-color: #25891A;
}

.select {
  height: 64px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--darkblue);
  display: flex;
  align-items: center;
  padding: 0 16px;
  outline: none;
  font-family: var(--font-montserrat);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/icon-chevron-down.svg') right 20px center no-repeat var(--lightblue);
  width: 100%;
}

.textarea {
  background: var(--lightblue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  font-size: 16px;
  color: var(--darkblue);
  resize: none;
  font-family: var(--font-montserrat);
  padding: 16px;
  outline: none;
  padding: 24px 16px 16px;
}

.custom-checkbox {
  width: 100%;
  display: block;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: var(--font-montserrat);
  color: var(--white);
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.custom-checkbox__icon {
  content: '';
  position: absolute;
  left: 4px;
  border: 2px solid var(--white);
  border-radius: 4px;
  width: 18px;
  height: 18px;
}

.custom-checkbox__icon:after {
  content: '';
  width: 10px;
  height: 10px;
  left: 2px;
  top: 2px;
  background: transparent;
  border-radius: 2px;
  position: absolute;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox input:checked ~ .custom-checkbox__icon:after {
  background: var(--white);
}

/* HEADER */
.header .wrapper {
  height: 107px;
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
  width: 150px;
  display: block;
  transition: transform .4s ease;
  text-align: center;
}

.logo:hover {
  transform: scale(1.02);
}

.menu-wrapper {
  display: none;
}

@media screen and (min-width: 1400px) {
  .menu-wrapper {
    display: flex !important;
    margin-left: 68px;
  }
}

.menu-wrapper__opened {}

@media screen and (max-width: 1399px) {
  .menu-wrapper__opened {
    display: block;
    position: fixed;
    top: 0;
    left: calc(100% - 320px);
    bottom: 0;
    right: 0;
    background: var(--lightblue);
    box-shadow: -4px 0px 16px rgba(58, 123, 213, 0.16);
    border-radius: 8px 0px 0px 8px;
    padding: 41px 0 24px;
    overflow: auto;
    z-index: 10;
  }
}

.menu-wrapper .cta {
  margin: 0 auto;
}

.menu-wrapper__close {
  display: flex;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

@media screen and (min-width: 1400px) {
  .menu-wrapper__close {
    display: none;
  }
}

.menu {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 16px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu {
    border-bottom: 1px solid var(--lightgray);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1399px) {
  .menu {
    flex-direction: column;
  }
}

@media screen and (min-width: 1500px) {
  .menu {
    font-size: 18px;
  }
}

.menu__item {
  position: relative;
}

@media screen and (min-width: 1400px) {
  .menu__item {
    border-radius: 8px 8px 0 0;
    padding: 0 16px;
  }
}

.menu__item--has-submenu {}

@media screen and (min-width: 1400px) {
  .menu__item--has-submenu:hover {
    background: var(--white);
  }
}

.menu__item--has-submenu:hover .submenu {
  display: flex;
}

.menu__link {
  text-decoration: none;
  color: var(--gray);
  transition: color .4s ease;
  height: 64px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1399px) {
  .menu__link {
    justify-content: flex-end;
    padding: 0 20px;
  }
}

.submenu {
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 1399px) {
  .submenu {
    background: var(--lightblue2);
    border-bottom: 1px solid var(--lightgray);
  }
}

@media screen and (min-width: 1400px) {
  .submenu {
    position: absolute;
    left: 0;
    top: 64px;
    width: 100%;
    background: var(--white);
    border-radius: 0 0 8px 8px;
    padding: 0 16px 20px;
  }
}

.submenu__item {}

@media screen and (min-width: 1400px) {
  .submenu__item:not(:first-child) {
    margin-top: 16px;
  }
}

.submenu__link {
  text-decoration: none;
  color: var(--gray);
  transition: color .4s ease;
  line-height: 24px;
}

@media screen and (max-width: 1399px) {
  .submenu__link {
    height: 64px;
    padding: 0 40px 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu__link:hover,
  .menu__link:active,
  .submenu__link:hover,
  .submenu__link:active,
  .submenu__link--active {
    background: var(--darkblue);
    color: var(--white);
  }
}

@media screen and (min-width: 1400px) {
  .menu__link:hover,
  .submenu__link:hover {
    color: var(--blue);
  }

  .menu__link--active,
  .menu__link:active,
  .submenu__link:active {
    color: var(--darkblue);
  }
}

.cta {
  height: 64px;
  border-radius: 8px;
  background: var(--yellow);
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkblue);
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin-left: auto;
  cursor: pointer;
  transition: background-color .4s ease;
}

.cta--header {
  padding: 0 32px;
}

@media screen and (max-width: 767px) {
  .cta--mobile {
    display: flex;
  }

  .cta--desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .cta--mobile {
    display: none;
  }

  .cta--desktop {
    display: flex;
  }
}

.cta:hover {
  background-color: var(--yellow-light);
}

.cta:active {
  background-color: var(--yellow-dark);
}

.cta img {
  margin-left: 20px;
}

.menu-button {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (min-width: 1400px) {
  .menu-button {
    display: none;
  }
}

.menu-button .line {
  transition: all .4s ease;
}

.menu-button:hover .line--1 {
  transform: translateX(6px);
}

.menu-button:hover .line--3 {
  transform: translateX(-6px);
}

/* MAIN page */
.main {
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

/* VEHICLE (Main page car) */
.vehicle {
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .vehicle {
    margin-bottom: 108px;
  }
}

.vehicle:last-child {
  margin-bottom: 0;
}

.vehicle__row {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .vehicle__row {
    display: flex;
    flex-direction: row;
    gap: 0 40px;
  }
}

.vehicle__details {
  flex: 0 0 50%;
}

.vehicle__location {
  height: 56px;
  background-color: var(--white);
  background-position: right 24px top 11px;
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 0 72px 0 24px;
  margin-bottom: 20px;
}

.vehicle__location--de {
  background-image: url('../images/icon-de.png');
}

.vehicle__location--en {
  background-image: url('../images/icon-en.png');
}

.vehicle__title {
  color: var(--darkblue);
  font-size: 22px;
  font-family: var(--font-fugaz);
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .vehicle__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__title {
    font-size: 56px;
    margin-bottom: 30px;
  }
}

.vehicle__description {
  color: #485260;
  font-size: 16px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .vehicle__description {
    font-size: 18px;
  }
}

.vehicle__ctas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .vehicle__ctas {
    flex-direction: row;
    gap: 40px;
  }
}

.vehicle__ctas .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .vehicle__ctas .button {
    width: 340px;
  }
}

.vehicle__image {
  flex: 1 1 50%;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .vehicle__image {
    order: -1;
    margin-bottom: 16px;
  }
}

.vehicle__image img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .vehicle__image img {
    position: absolute;
    left: 0;
    max-width: none;
  }
}

.vehicle__features {
  flex: 0 0 100%;
  display: grid;
  grid-gap: 10px;
  margin-top: 44px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 576px) {
  .vehicle__features {
    grid-gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .vehicle__features {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__features {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 90px;
  }
}

.vehicle__feature {
  display: flex;
  flex-direction: column;
}

.vehicle__feature span {
  color: var(--gray);
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .vehicle__feature span {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__feature span {
    font-size: 24px;
  }
}

.vehicle__feature strong {
  font-family: var(--font-fugaz);
  font-size: 18px;
  color: var(--darkblue);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .vehicle__feature strong {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .vehicle__feature strong {
    font-size: 26px;
  }
}

@media screen and (min-width: 1600px) {
  .vehicle__feature strong {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .vehicle:nth-child(2n) .vehicle__details {
    padding: 0 0 0 40px;
  }
}

.vehicle:nth-child(2n) .vehicle__image {
  order: -1;
}

.vehicle:nth-child(2n) .vehicle__image img {
  left: auto;
  right: 0;
}

/* MAP */
.map {
  height: 284px;
  background: var(--white);
}

@media screen and (min-width: 992px) {
  .map {
    height: 600px;
  }
}

/* FOOTER */
.footer {
  padding-bottom: 30px;
}

.footer__details {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
}

@media screen and (min-width: 1400px) {
  .footer__details {
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer .logo {
  margin: 0 auto 32px;
  flex: 0 0 100%;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .footer .logo {
    margin: 0 20% 0 0;
    flex-basis: auto;
  }
}

@media screen and (min-width: 1400px) {
  .footer .logo {
    margin-right: 0;
  }
}

.footer__links {
  flex: 0 0 100%;
  padding-right: 20px;
}

@media screen and (min-width: 576px) {
  .footer__links {
    flex-basis: calc(50% - 10px);
  }

  .footer__links:first-of-type {
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .footer__links {
    flex-basis: 240px;
  }

  .footer__links:first-of-type {
    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .footer__links:first-of-type {
    margin: 0;
  }
}

@media screen and (min-width: 1700px) {
  .footer__links {
    flex-basis: 280px;
    padding-right: 40px;
  }
}

.footer__links li {
  background: url('../images/icon-arrow.svg') 0 center no-repeat;
  padding: 8px 0 8px 24px;
}

.footer__links a {
  color: var(--gray);
  font-size: 16px;
  text-decoration: none;
}

.footer__links a:hover,
.footer__links a:active {
  text-decoration: underline;
}

.address,
.contacts {
  background: var(--white);
  width: 410px;
  height: 168px;
  border-radius: 16px;
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  padding: 32px 0 0 24px;
  display: flex;
  flex-direction: column;
}

.footer .address,
.footer .contacts {
  flex: 0 0 100%;
}

.footer .address {
  margin-bottom: 20px;
}

.footer .contacts {
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .footer .address,
  .footer .contacts {
    box-shadow: none;
    border-radius: 0;
    flex-basis: calc(100% + 40px);
    margin-left: -20px;
    height: auto;
  }

  .footer .address {
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 0;
  }

  .footer .contacts {
    padding-top: 0;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .footer .address,
  .footer .contacts {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 32px;
  }

  .footer .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .footer .address,
  .footer .contacts {
    margin-top: 32px;
    margin-bottom: 0;
  }

  .footer .address {
    order: 1;
  }

  .footer .contacts {
    order: 2;
  }
}

@media screen and (min-width: 1400px) {
  .footer .address,
  .footer .contacts {
    flex-basis: 330px;
    order: 0;
  }

  .footer .address {
    margin: 0 0 0 auto;
  }

  .footer .contacts {
    margin: 0 30px 0 20px;
  }
}

@media screen and (min-width: 1600px) {
  .footer .address,
  .footer .contacts {
    flex-basis: 410px;
  }

  .footer .contacts {
    margin: 0 50px 0 40px;
  }
}

.address > *,
.contacts > * {
  padding: 8px 0 8px 36px;
  color: var(--gray);
  font-size: 16px;
  font-family: var(--font-montserrat);
  font-style: normal;
  text-decoration: none;
}

.address > a:hover,
.contacts > a:hover {
  text-decoration: underline;
}

.address__location {
  background: url('../images/icon-location.svg') 0 center no-repeat;
}

.address__time {
  background: url('../images/icon-clock.svg') 0 center no-repeat;
}

.contacts__phone {
  background: url('../images/icon-call.svg') 0 center no-repeat;
}

.contacts__email {
  background: url('../images/icon-email.svg') 0 center no-repeat;
}

.copyright {
  color: var(--lightgray);
  font-size: 16px;
}

/* CAR PAGE */
.vehicle-gallery {
  display: grid;
  margin-bottom: 24px;
  grid-gap: 20px;
}

.vehicle-gallery:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  .vehicle-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .vehicle-gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .vehicle-gallery {
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .vehicle-gallery {
    grid-gap: 40px;
  }
}

.vehicle-gallery__item {
  overflow: hidden;
  border-radius: 16px;
}

.vehicle-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vehicle-details {
  margin-bottom: 32px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .vehicle-details {
    display: flex;
    margin-bottom: 80px;
  }
}

.vehicle-details__image {
  display: none;
}

@media screen and (min-width: 992px) {
  .vehicle-details__image {
    display: block;
    position: absolute;
    width: calc(40% - 130px);
    height: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .vehicle-details__image {
    position: relative;
    flex: 1 1 auto;
    margin-right: 130px;
    height: auto;
    width: auto;
  }
}

.vehicle-details__image img {
  position: absolute;
  right: 50px;
  top: 33.3%;
  transform: translateY(-50%);
}

@media screen and (min-width: 1400px) {
  .vehicle-details__image img {
    top: 50%;
  }
}

.vehicle-details__aside {}

@media screen and (min-width: 992px) {
  .vehicle-details__aside {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1400px) {
  .vehicle-details__aside {
    flex-basis: 1160px;
  }
}

.vehicle-details__aside > * {
  background: var(--white);
  padding: 20px;

}

@media screen and (max-width: 991px) {
  .vehicle-details__aside > * {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
}

@media screen and (min-width: 992px) {
  .vehicle-details__aside > * {
    box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
    border-radius: 16px;
    padding: 40px 32px;
  }
}

.vehicle-details__aside h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media screen and (min-width: 992px) {
  .vehicle-details__aside h3 {
    font-size: 42px;
    margin-bottom: 24px;
  }
}

.vehicle-details__aside li {
  font-size: 16px;
  color: var(--gray);
  background: url('../images/icon-arrow.svg') 0 center no-repeat;
  padding: 0 0 0 24px;
}

@media screen and (min-width: 992px) {
  .vehicle-details__aside li {
    font-size: 18px;
  }
}

.vehicle-details__aside li:not(:first-child) {
  margin-top: 16px;
}

@media screen and (min-width: 992px) {
  .vehicle-details__aside li:not(:first-child) {
    margin-top: 24px;
  }
}

.vehicle-details__tech,
.vehicle-details__price {
  flex: 0 0 60%;
}

@media screen and (min-width: 992px) {
  .vehicle-details__tech,
  .vehicle-details__price {
    margin-left: auto;
  }

  .vehicle-details__tech {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .vehicle-details__tech,
  .vehicle-details__price {
    flex-basis: calc(50% - 20px);
    margin: 0;
  }
}

.vehicle-details__insurance {}

@media screen and (min-width: 992px) {
  .vehicle-details__insurance {
    margin-top: 40px;
    flex: 0 0 100%;
  }
}

.contact-us {
  margin-bottom: 56px;
}

@media screen and (min-width: 1400px) {
  .contact-us {
    margin: 0 220px 80px;
    display: flex;
  }
}

.contact-us__main {
  position: relative;
  background: var(--lightblue2);
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .contact-us__main {
    margin: 56px 156px;
    padding: 40px 135px;
    min-height: 380px;
    flex: 1 1 710px;
  }
}

@media screen and (min-width: 1400px) {
  .contact-us__main {
    margin: 0;
  }
}

.contact-us__background {
  display: none;
}

@media screen and (min-width: 992px) {
  .contact-us__background {
    left: -171px;
    top: -58px;
    position: absolute;
    display: block;
  }
}

.contact-us__main h5 {
  color: var(--darkblue);
  font-size: 24px;
  font-family: var(--font-fugaz);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .contact-us__main h5 {
    font-size: 32px;
  }
}

.contact-us__main p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.contact-us__main .button {
  width: 340px;
}

.contact-us__main .button:nth-of-type(2) {
  margin-top: 20px;
}

.contact-us__aside {
  display: none;
}

@media screen and (min-width: 992px) {
  .contact-us__aside {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .contact-us__aside {
    margin-left: 40px;
    flex: 0 0 410px;
    flex-direction: column;
    justify-content: space-around;
  }
}

.contact-us__aside .address,
.contact-us__aside .contacts {
  margin: 0 10px;
}

@media screen and (min-width: 1400px) {
  .contact-us__aside .address {
    margin: 0 0 40px;
  }

  .contact-us__aside .contacts {
    margin: 0;
  }
}

.vehicle-description {
  background: var(--white);
  padding: 20px;
  margin-left: -20px;
  width: calc(100% + 40px);
}

@media screen and (min-width: 992px) {
  .vehicle-description {
    padding: 60px 75px 75px;
    box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
    border-radius: 16px;
    margin: 0 150px;
    width: auto;
  }
}

.vehicle-description p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 65px;
}

@media screen and (min-width: 992px) {
  .vehicle-description p {
    font-size: 18px;
  }
}

.vehicle-description h4 {
  font-size: 18px;
  color: var(--darkblue);
  font-family: var(--font-fugaz);
  text-align: center;
}

@media screen and (min-width: 992px) {
  .vehicle-description h4 {
    font-size: 24px;
  }
}

/* CONTACTS PAGE */
@media screen and (min-width: 768px) {
  .contacts-page {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .contacts-page {
    width: 1330px;
    max-width: none;
  }
}

.title {
  font-size: 22px;
  color: var(--darkblue);
  font-family: var(--font-fugaz);
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1400px) {
  .contacts-page__flex {
    display: flex;
  }
}

.contacts-page__aside {}

@media screen and (max-width: 767px) {
  .contacts-page__aside {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .contacts-page__aside {
    display: flex;
    column-gap: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .contacts-page__aside {
    flex: 0 0 410px;
  }
}

.contacts-page__aside .address,
.contacts-page__aside .contacts {
  margin: 0 0 40px;
}

@media screen and (max-width: 767px) {
  .contacts-page__aside .address,
  .contacts-page__aside .contacts {
    height: auto;
    margin: 0 0 0 -20px;
    width: calc(100% + 40px);
    border-radius: 0;
    box-shadow: none;
  }

  .contacts-page__aside .contacts {
    padding-top: 0;
    padding-bottom: 32px;
  }
}

.contacts-page__policy {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 18px;
}

.contacts-page__policy:hover {
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .contacts-page__policy.contacts-page__policy--mobile {
    display: inline-block;
  }

  .contacts-page__policy.contacts-page__policy--desktop {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .contacts-page__policy.contacts-page__policy--mobile {
    display: none;
  }

  .contacts-page__policy.contacts-page__policy--desktop {
    display: inline-block;
  }
}

.contacts-page__main {
  background: var(--white);
  box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
  border-radius: 16px;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .contacts-page__main {
    width: calc(100% + 40px);
    border-radius: 0;
    margin-left: -20px;
    box-shadow: none;
    padding: 32px 20px 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-page__main {
    margin-bottom: 40px;
    padding: 40px;
    flex: 1 1 auto;
  }
}

@media screen and (min-width: 1400px) {
  .contacts-page__main {
    margin-left: 80px;
    margin-bottom: 0;
    padding: 60px;
  }
}

.contacts-page__main h2 {
  font-size: 24px;
  color: var(--darkblue);
  text-align: center;
  font-weight: 700;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .contacts-page__main h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.contacts-page__form {}

@media screen and (min-width: 768px) {
  .contacts-page__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-page__form > *:not(:first-child) {
    margin-top: 20px;
  }
}

.contacts-page__form label,
.contacts-page__form input {
  width: 100%;
}

.contacts-page__form textarea {
  grid-row: 1 / 4;
  grid-column: 2 / 2;
}

@media screen and (max-width: 767px) {
  .contacts-page__form textarea {
    height: 200px;
    width: 100%;
  }
}

.contacts-page__form .cta {
  width: 100%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 51, 86, 0.75);
  backdrop-filter: blur(12px);
  padding: 60px 0;
  display: none;
  overflow-y: auto;
}

.modal--opened {
  display: block;
}

.modal__close {
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  margin: 0 0 60px calc(50% - 24px);
  transition: opacity .4s ease;
  position: relative;
  border-radius: 50%;
  background: var(--white);
  transition: background-color .4s ease;
}

.modal__close:hover {
  background: var(--darkblue);
}

.modal__close:hover .stroke {
  stroke: var(--white);
}

.modal__title {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 48px;
  }
}

.modal__wrapper--certificate,
.modal__wrapper--booking {
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.modal__wrapper--certificate {
  max-width: 960px;
}

.modal__wrapper--booking {
  max-width: 1080px;
}

.booking {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .booking {
    flex-direction: column;
  }
}

.booking__aside {
  flex: 0 0 320px;
}

.booking__aside .select {
  margin-bottom: 20px;
}

.booking .contacts-page__form {}

@media screen and (min-width: 1200px) {
  .booking .contacts-page__form {
    flex: 0 0 720px;
    margin: 0 0 0 40px;
  }
}

.insurance {
  padding-top: 15px;
}

.insurance h5 {
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
}

.insurance p {
  margin-top: 8px;
  color: var(--lightblue);
  font-size: 14px;
}

.text {
  padding: 30px 20px;
  background: var(--white);
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .text {
    padding: 40px;
  }
}

.text h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--darkblue);
  margin: 0 0 30px;
}

@media screen and (min-width: 992px) {
  .text h2 {
    font-size: 36px;
  }
}

.text p {
  margin-bottom: 30px;
  font-size: 16px;
  color: var(--darkblue);
}

.text a {
  color: var(--darkblue2);
}

.text *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .text {
    margin-left: -20px;
    width: calc(100% + 40px);
  }
}

@media screen and (min-width: 992px) {
  .text {
    box-shadow: 0px 10px 24px rgba(58, 123, 213, 0.08);
    border-radius: 16px;
    padding: 40px;
  }
}
